
.DS_Store

*.xcuserstate

weathers-data/weathers-data.xcodeproj/xcuserdata/ios.kwon.xcuserdatad/xcschemes/xcschememanagement.plist

weathers-domain/weathers-domain.xcodeproj/xcuserdata/ios.kwon.xcuserdatad/xcschemes/xcschememanagement.plist

weather-app/weather-app.xcodeproj/xcuserdata/ios.kwon.xcuserdatad/xcschemes/xcschememanagement.plist

Weathers.xcworkspace/xcuserdata/ios.kwon.xcuserdatad/xcschemes/xcschememanagement.plist
